.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-list {
    display: flex;
    justify-content: space-between;

    &__item {
        width: 270px;
        &:not(:last-child) {
                margin-right: 30px;
            }
    }


    &__img {
        /* padding: 25px 100px; */
        background-color: #f5f4fa;
        border-radius: 4px;
        margin-bottom: 30px;
        /* width: 270px; */
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        @include font(14px, 1.14, null, 0.03em);
        // font-size: 14px;
        // line-height: 1.14;
        // letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--sub-title-color);
        margin-bottom: 10px;
    }

    &__text {
        @include font(14px, 1.71, null, 0.03em);
        // font-size: 14px;
        // line-height: 1.71;
        // letter-spacing: 0.03em;
    }
}