.produce {
    padding-bottom: 94px;
}

.produce-title {
    @include font(36px, 1.17, null, 0.03em);
    text-align: center;
    color: var(--sub-title-color);
    margin-bottom: 50px;
}

.produce-list {
    display: flex;
    justify-content: space-between;
}

.produce-item:not(:last-child) {
    margin-right: 30px;
}

.produce-item-wrap {
    position: relative;
}

.produce-item-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
}

.produce-item-title {
    @include font(14px, 1.13, 700, 0.03em);
    text-align: center;
    text-transform: uppercase;
    color: var(--main-title-color);
}