.soc {
    margin-left: 70px;
    padding-top: 12px;
    &__title {
        color: var(--footer-color);
        margin-bottom: 20px;
        @include font(14px, 1.13, 700, 0.03em);
        text-transform: uppercase;
    }
    &__list {
        display: flex;
        justify-content: left;
    }
    &__item + &__item {
        margin-left: 10px;
    }
    &__link {
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: var(--footer-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: var(--accent-color);
            fill: var(--icon-accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    
    }
}