:root {
    --main-color: #757575;
    --accent-color: #2196f3;
    --header-logo-color: #000;
    --footer-logo-color: #fff;
    --header-nav-color: #212121;
    --header-color: #757575;
    --main-title-color: #ffffff;
    --sub-title-color: #212121;
    --btn-color: #fff;
    --footer-color: #fff;
    --address-color: rgba(255, 255, 255, 0.6);
    --icon-color: #afb1b8;
    --icon-accent-color: #fff;
}